/* header con jumbotron */
body {
    font-size: 17px;
    color: white;
}



/* modifica form BT */

header #navbar {
    background-color: #2c3e50;
    padding: 25px 0;
}

#title-nav  {
    font-size: 28px;
    font-weight: bold;
    color:white;
}


.text-white {
    font-weight: bold;
}


/* jumbotron */

#jumbotron {
    background-color: #1abc9c;
}

#jumbotron div{
    margin: auto;
}

#avatar{
    width: 32%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.fa-star{
    font-size: 30px;
    margin: 0 20px;
    color: white;
}
.star-line{
    display: inline-block;
    border: 2px solid white;
    width: 40%;
    margin-bottom: 10px;
}

.star-container{
    width: 80%;
    padding: 20px 0;
    text-align: center;
}

#jumbotron h1{
    font-size: 3rem;
    font-weight: 600;
}

#jumbotron h4{
    margin-bottom: 70px;
    font-weight: 400;
}

/* section portfolio */

#portfolio {
    width: 98%;
    margin: 0 auto;
}

#portfolio img {
/* DEBUG */
border: 2px black solid;
height: 100px;
}

/* section About */

#about{
    background-color: #1abc9c;
}

#about-text div {
    /* debug */
    border: 2px solid white ;
    height: 100px;
}
/* section contact me */

#contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* debug */
    border: 2px solid black;
    height: 200px;
}

/* footer */

footer section  {
    background-color: #3a546d;

}

footer > div{
    background-color: #2c3e50;
    height: 110px;
}

footer section div{
    /* debug */
    border: 2px solid white;
    height: 90px;
}

@media screen and (max-width:767px) {
    #title-nav  {
        font-size: 16px;
    }

    .star-line{
        width: 25%;
    }

    #jumbotron h1{
        font-size: 2rem;
    }

    #jumbotron h4{
        font-size: 1.2rem;
    }
}

@media screen and (min-width:768px) {
    .navbar-nav {
        padding-left: 20px;
    }

    .star-line{
        width: 30%;
    }
}